<div class="container">
 
 {{#each albums}}
  
    <div><img src="{{images.0.url}} "class="artist-img" ></div>
    <div class="artist-info-container">
    <h3>{{name}}</h3>
    <a href="/tracks/{{id}}">View Tracks</a>
    </div>
{{/each}} 
</div>
</div>
</div>
