 <div class="container">

 {{#each data}}



    <div><img src="{{images.0.url}}" class="artist-img"></div>
    <div class="artist-info-container">
    <h3>{{name}}</h3>
    <a href="/albums/{{id}}">View Albums</a>
    </div>
{{/each}} 

  </div>
  